@import url(color.css);
* {
  box-sizing: border-box;
  color: var(--app-primary)
}
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 100;
}
.nav-container {
  position: relative;
}
.menu-items-holder {
  display: flex;
  text-align: center;
}
.menu-item > a {
  padding: 10px;
}
.hero {
  position: relative;
  height: calc(100vh);
}
.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero__content {
}
/* why choose us */
.choose-us-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.choose-us-item{
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  max-width: 400px;
  padding: 10px;
}
.choose-us-item__icon{
  margin-right: 20px;
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
}
.choose-us-item__heading{
  color: var(--app-white);
}
.choose-us-item__desc{
  color: var(--app-light-desc);
}


/* small screen */
@media (max-width: 576px) {
  .menu-toggle {
    display: inline-block;
  }
  .menu-items-holder {
    position: absolute;
    width: 100%;
    background: var(--app-white);
    top: 100%;
    left: 0;
    flex-direction: column;
    padding: 20px;
    display: none;
  }
  .menu-items-holder.active {
    display: block;
  }
  .card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
}
/* Large screen */
@media (min-width: 576px) {
  .menu-toggle {
    display: none;
  }
  .card-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }
}




@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
