@import url(color.css);
* {
  box-sizing: border-box;
  color: var(--app-primary);
  scroll-behavior: smooth;
}
.hero__content > h1 {
  color: var(--app-secondary);
}
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  z-index: 100;
}
.header-background .menu-toggle > .menu-icon-color {
  color: var(--app-primary);
}
.header-background .menu-item > .menu-icon-color {
  color: var(--app-primary);
}
.menu-icon-color {
  color: #fff;
}
.menu-item > .menu-icon-color:hover {
  color: var(--app-secondary);
}
.header-background .menu-toggle > span {
  color: var(--app-primary);
}
/* .header .menu-toggle > span {
  color: var(--app-white);
} */
.nav-container {
  position: relative;
}
.menu-items-holder {
  display: flex;
  text-align: center;
}
.menu-item > a {
  padding: 10px;
}
.hero {
  position: relative;
  height: calc(100vh);
  background-color: rgba(28, 35, 93, 0.6);
}
.hero-container {
  position: relative;
  height: 100vh;
}
.background-video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  z-index: -1;
}
.hero__content {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: var(--app-white);
}
.hero__content > p {
  color: var(--app-white);
}
.hero-greeting {
  font-size: 34px;
  font-weight: 500;
}
.hero-desc {
  font-size: 24px;
}
/* why choose us */
.choose-us-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.choose-us-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 50px;
  max-width: 400px;
  padding: 10px;
}
.choose-us-item__icon {
  margin-right: 20px;
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
}
.choose-us-item__heading {
  color: var(--app-white);
}
.choose-us-item__desc {
  color: var(--app-light-desc);
}

/* get in touch */
.get-in-touch {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.shop-address > p {
  margin-bottom: 5px;
}
.shop-address > a > .contact-icon {
  margin-bottom: 5px;
}
.social-media {
  display: flex;
  justify-content: center;
}
.social-link {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}
.social-link-float {
  position: fixed;
  bottom: 3%;
  width: 40px;
  height: 40px;
}
.whatsapp {
  left: 3%;
}
.phone {
  right: 3%;
}
/* PAGE - SERVICES */
.services-sales__title-desc > p,
.services-sales__detail > p {
  text-align: justify;
}
.services-sales__short {
  margin-bottom: 20px;
}
/* small screen */
@media (max-width: 576px) {
  .menu-toggle {
    display: inline-block;
  }
  .menu-items-holder {
    position: absolute;
    width: 100%;
    background: var(--app-white);
    top: 100%;
    left: 0;
    flex-direction: column;
    padding: 20px;
    display: none;
  }
  .menu-items-holder.active {
    display: block;
  }
  .hero-desc {
    width: 85%;
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
  }
  .get-in-touch {
    flex-direction: column;
  }
  .shop-address {
    text-align: center;
    margin: 30px 0;
  }
  .services-sales__img {
    width: 285px;
    height: auto;
    margin: 0 auto;
  }
  .owner-profile {
    text-align: center;
  }
  .owner-image {
    background: red;
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: 20px auto 50px auto;
  }
}
/* Large screen */
@media (min-width: 576px) {
  .menu-toggle {
    display: none;
  }
  .hero-desc {
    width: 100%;
  }
  .card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .store-location {
    min-width: 65%;
  }
  .get-in-touch {
    align-items: center;
  }
  .services-sales__img {
    min-width: 360px;
    height: auto;
  }
  .services-sales__short {
    display: flex;
  }
  .services-sales__title-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .owner-profile {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
@media (min-width: 1400px) {
}
